<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="my_robot">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import my_robot urdf file -->
    <xacro:include filename="$(find poc_arm)/urdf/poc_arm_sim.urdf.xacro" />

    <xacro:include filename="$(find poc_moveit_config)/config/my_robot.ros2_control.xacro" />

    <xacro:my_robot_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>


</robot>
