<?xml version="1.0"?>
<robot name="one_motor" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find waveshare_servos)/description/ros2_control/one_motor.ros2_control.xacro"/>

  <link name="base_link"/>

  <link name="link1">
    <visual>
      <geometry>
        <cylinder length="0.1" radius="0.03"/>
      </geometry>
    </visual>
  </link>

  <joint name="joint1" type="revolute">
    <parent link="base_link"/>
    <child link="link1"/>
    <axis xyz="0 0 1"/>
    <limit lower="-3.14" upper="3.14" effort="5" velocity="5"/>
  </joint>

  <xacro:one_st3215_ros2_control name="WaveshareST"/>

</robot>

