<?xml version="1.0" encoding="utf-8"?>
<robot name="my_robot"
       xmlns:xacro="http://www.ros.org/wiki/xacro">
       
  <xacro:include filename="$(find poc_arm)/urdf/camera_rgbd.xacro"/>
       
  <material name="grey">
      <color rgba="0.5 0.5 0.5 1" />
  </material>

  <material name="blue">
      <color rgba="0 0 0.5 1" />
  </material>

  <material name="green">
      <color rgba="0 0.4 0 1" />
  </material>  
  
  <xacro:property name="poc_arm_pkg" value="$(find poc_arm)"/>

  <!-- Torso / base box -->
  <link name="torso_link">
    <inertial>
      <origin xyz="0 0 0.25" rpy="0 0 0"/>
      <mass value="25"/>
      <inertia
        ixx="0.2" ixy="0.0" ixz="0.0"
        iyy="0.2" iyz="0.0"
        izz="0.2"/>
    </inertial>

    <visual>
      <origin xyz="0 0 0.25" rpy="0 0 0"/>
      <geometry>
        <!-- size = X Y Z -->
        <box size="0.06 0.10 0.50"/>
      </geometry>
      <material name="torso_color">
        <color rgba="1 0.71 0.75 1"/>
      </material>
    </visual>

    <collision>
      <origin xyz="0 0 0.25" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.10 0.50"/>
      </geometry>
    </collision>
  </link>

  <xacro:rgbd_camera
    parent="torso_link"
    xyz="0.065 0 0.47"
    rpy="0 0.4 0"/>

  <link
    name="shoulder_base_link">
    <inertial>
      <origin
        xyz="9.72285362626814E-05 -0.00771018833850792 -0.0180870436313402"
        rpy="0 0 0" />
      <mass
        value="0.0651582805484437" />
      <inertia
        ixx="1.32767200995746E-05"
        ixy="2.02180637978025E-10"
        ixz="4.34736932940093E-09"
        iyy="1.87781055840213E-05"
        iyz="2.5203713255228E-07"
        izz="7.01496855003115E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/suvi/poc_arm/install/poc_arm/share/poc_arm/meshes/shoulder_base_link.STL" />
      </geometry>
      <material name="grey"/>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/suvi/poc_arm/install/poc_arm/share/poc_arm/meshes/shoulder_base_link.STL" />
      </geometry>
    </collision>
  </link>
  
  <!-- torso -> shoulder_base_link fixed -->
  <joint name="torso_to_shoulder_base" type="fixed">
    <parent link="torso_link"/>
    <child link="shoulder_base_link"/>
    <!-- adjust this offset to place your arm on top of torso -->
    <origin xyz="0 -0.06 0.4" rpy="0 0 0"/>
  </joint>
  
  <link
    name="shoulder_pitch_link">
    <inertial>
      <origin
        xyz="0.000695666838488873 -0.0235536103888225 0.000772757622635567"
        rpy="0 0 0" />
      <mass
        value="0.0709282831936031" />
      <inertia
        ixx="1.4121265593662E-05"
        ixy="2.81431955942465E-07"
        ixz="3.48400900131928E-09"
        iyy="1.05923368644717E-05"
        iyz="-4.24399378660345E-09"
        izz="1.30240063378582E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/suvi/poc_arm/install/poc_arm/share/poc_arm/meshes/shoulder_pitch_link.STL" />
      </geometry>
      <material name="blue"/>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/suvi/poc_arm/install/poc_arm/share/poc_arm/meshes/shoulder_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="shoulder_pitch_joint"
    type="revolute">
    <origin
      xyz="0 -0.035425 -0.00068462"
      rpy="0 0 0" />
    <parent
      link="shoulder_base_link" />
    <child
      link="shoulder_pitch_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.5708"
      upper="1.5708"
      effort="3"
      velocity="4.7124" />
  </joint>
  <link
    name="shoulder_yaw_link">
    <inertial>
      <origin
        xyz="-7.16636869090015E-05 -0.0154295835467579 -0.0407985285364309"
        rpy="0 0 0" />
      <mass
        value="0.0876558621961866" />
      <inertia
        ixx="2.63501922071186E-05"
        ixy="-1.0273756822811E-09"
        ixz="3.57962371416784E-09"
        iyy="2.24741802292208E-05"
        iyz="-7.86171014215507E-07"
        izz="2.43319780460408E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/suvi/poc_arm/install/poc_arm/share/poc_arm/meshes/shoulder_yaw_link.STL" />
      </geometry>
      <material name="green"/>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/suvi/poc_arm/install/poc_arm/share/poc_arm/meshes/shoulder_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="shoulder_yaw_joint"
    type="revolute">
    <origin
      xyz="0.00105 -0.044 0.00068462"
      rpy="0 0 0" />
    <parent
      link="shoulder_pitch_link" />
    <child
      link="shoulder_yaw_link" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="-1.5708"
      upper="1.5708"
      effort="3"
      velocity="4.7124" />
  </joint>
  <link
    name="shoulder_roll_link">
    <inertial>
      <origin
        xyz="0.000598224096425182 0.000368232301833915 -0.0388934527972102"
        rpy="0 0 0" />
      <mass
        value="0.0957202475262049" />
      <inertia
        ixx="1.86893555445436E-05"
        ixy="3.37979558138656E-09"
        ixz="-5.20164247735112E-09"
        iyy="1.90201410451556E-05"
        iyz="3.38885725507434E-07"
        izz="1.74543729552576E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/suvi/poc_arm/install/poc_arm/share/poc_arm/meshes/shoulder_roll_link.STL" />
      </geometry>
      <material name="grey"/>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/suvi/poc_arm/install/poc_arm/share/poc_arm/meshes/shoulder_roll_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="shoulder_roll_joint"
    type="revolute">
    <origin
      xyz="-0.00053416 0.00043 -0.073682"
      rpy="0 0 0" />
    <parent
      link="shoulder_yaw_link" />
    <child
      link="shoulder_roll_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.1416"
      upper="3.1416"
      effort="3"
      velocity="4.7124" />
  </joint>
  <link
    name="elbow_link">
    <inertial>
      <origin
        xyz="0.0371367885423096 9.28363839227953E-05 -0.00102046411279516"
        rpy="0 0 0" />
      <mass
        value="0.0667662259503023" />
      <inertia
        ixx="9.52355890862179E-06"
        ixy="5.05999788993877E-09"
        ixz="3.31946587696942E-07"
        iyy="1.14943140009411E-05"
        iyz="-3.44599092893705E-09"
        izz="1.20469291874261E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/suvi/poc_arm/install/poc_arm/share/poc_arm/meshes/elbow_link.STL" />
      </geometry>
      <material name="blue"/>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/suvi/poc_arm/install/poc_arm/share/poc_arm/meshes/elbow_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="elbow_joint"
    type="revolute">
    <origin
      xyz="0.00053416 0.000975 -0.071218"
      rpy="0 0 0" />
    <parent
      link="shoulder_roll_link" />
    <child
      link="elbow_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.5708"
      upper="1.5708"
      effort="3"
      velocity="4.7124" />
  </joint>
  <link
    name="wrist_yaw_link">
    <inertial>
      <origin
        xyz="0.036553713663152 -0.00101027468598142 -9.47176882014344E-05"
        rpy="0 0 0" />
      <mass
        value="0.064926422683629" />
      <inertia
        ixx="9.44475784574009E-06"
        ixy="3.31943681574519E-07"
        ixz="-5.15844801071361E-09"
        iyy="1.19856436826231E-05"
        iyz="3.44599438984892E-09"
        izz="1.14155778566391E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/suvi/poc_arm/install/poc_arm/share/poc_arm/meshes/wrist_yaw_link.STL" />
      </geometry>
      <material name="green"/>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/suvi/poc_arm/install/poc_arm/share/poc_arm/meshes/wrist_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wrist_yaw_joint"
    type="revolute">
    <origin
      xyz="0.05775 0 -0.0014736"
      rpy="0 0 0" />
    <parent
      link="elbow_link" />
    <child
      link="wrist_yaw_link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1.5708"
      upper="1.5708"
      effort="3"
      velocity="4.7124" />
  </joint>
  <link
    name="wrist_pitch_link">
    <inertial>
      <origin
        xyz="0.0388612908036284 -9.12564783519809E-05 0.0179986146830543"
        rpy="0 0 0" />
      <mass
        value="0.068090612286214" />
      <inertia
        ixx="1.53730307192974E-05"
        ixy="-6.12074986419374E-09"
        ixz="-2.23215999547685E-06"
        iyy="1.77943821269709E-05"
        iyz="2.69056680169709E-09"
        izz="1.08368146199862E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/suvi/poc_arm/install/poc_arm/share/poc_arm/meshes/wrist_pitch_link.STL" />
      </geometry>
      <material name="grey"/>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/suvi/poc_arm/install/poc_arm/share/poc_arm/meshes/wrist_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wrist_pitch_joint"
    type="revolute">
    <origin
      xyz="0.05775 -0.0014764 0"
      rpy="0 0 0" />
    <parent
      link="wrist_yaw_link" />
    <child
      link="wrist_pitch_link" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-1.5708"
      upper="1.5708"
      effort="3"
      velocity="4.7124" />
  </joint>
  <link
    name="wrist_roll_link">
    <inertial>
      <origin
        xyz="0.0293162151901096 0.00263781286832326 0.00883592891095641"
        rpy="0 0 0" />
      <mass
        value="0.0182988414894133" />
      <inertia
        ixx="8.97211158969286E-07"
        ixy="-1.43959044204209E-08"
        ixz="-3.68077000884773E-08"
        iyy="2.06132166470996E-06"
        iyz="-1.32773386121325E-13"
        izz="2.11183104538046E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/suvi/poc_arm/install/poc_arm/share/poc_arm/meshes/wrist_roll_link.STL" />
      </geometry>
      <material name="blue"/>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/suvi/poc_arm/install/poc_arm/share/poc_arm/meshes/wrist_roll_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wrist_roll_joint"
    type="revolute">
    <origin
      xyz="0.065225 0 0"
      rpy="0 0 0.0013329" />
    <parent
      link="wrist_pitch_link" />
    <child
      link="wrist_roll_link" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="-3.1416"
      upper="3.1416"
      effort="3"
      velocity="4.7124" />
  </joint>
  
  <gazebo reference="torso_link">
      <material>Gazebo/White</material>
  </gazebo>
  
  <gazebo reference="camera_link">
      <material>Gazebo/Black</material>
  </gazebo>  

  <gazebo reference="shoulder_base_link">
      <material>Gazebo/Grey</material>
  </gazebo>

  <gazebo reference="shoulder_pitch_link">
      <material>Gazebo/Blue</material>
  </gazebo>

  <gazebo reference="shoulder_yaw_link">
      <material>Gazebo/Green</material>
  </gazebo>

  <gazebo reference="shoulder_roll_link">
      <material>Gazebo/Yellow</material>
  </gazebo>

  <gazebo reference="elbow_link">
      <material>Gazebo/Blue</material>
  </gazebo>

  <gazebo reference="wrist_yaw_link">
      <material>Gazebo/Green</material>
  </gazebo>

  <gazebo reference="wrist_pitch_link">
      <material>Gazebo/Grey</material>
  </gazebo>

  <gazebo reference="wrist_roll_link">
      <material>Gazebo/Red</material>
  </gazebo>
  
</robot>
